html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #EFE6E6;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
}

#page-header{
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #4D4D4D;
  color: #ffffff;
}

#name{
  font-size: 64px;
  justify-self: center;
}

#name>span{
  font-weight: 100;
}

#position{
  font-size:22px;
  font-weight: 100;
  justify-self: center;
}

.next-btn{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px !important;
  animation: bob 1.8s infinite ease-in-out alternate;
  box-shadow: 1.5px 3px 3px 0px #1e1e1e;
  font-size: 16px;
}


#nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nav>a:hover{
  font-weight:100;
}

article{
  background-color: #ffffff;
  width: calc(100% - 50px);
  height: calc(100% - 0px);
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0px 25px 0 25px;
  font-size: 24px;
  position: relative;
}

article>header{
  font-size: 64px;
  font-weight: bold;
  justify-self: center;
}

article:nth-child(odd){
  background-color: #4d4d4d;
  color: #ffffff;
}

article:nth-child(5n+1)>header>span{color: #6CE0F1;}
article:nth-child(5n+2)>header>span{color: #FB4485;}
article:nth-child(5n+3)>header>span{color: #FDA333;}
article:nth-child(5n+4)>header>span{color: #C2E15F;}
article:nth-child(5n+5)>header>span{color: #D3A4F9;}


.button{
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.button::hover{
  background-color: #fefefe;
}

.circle{
  border-radius: 50%;
}

@keyframes bob{
  0%{
    transform: translateY(0px);
  }

  100%{
    transform: translateY(10px);
  }
}
